.window {
  display: grid;
  grid-template-areas: "system-buttons  content"
                       "sidebar         content";
  grid-template-rows: 40px 1fr;
  grid-template-columns: 150px 1fr;
  overflow: hidden;
  color: rgba(35, 35, 35, .6);
  border-radius: 10px;
  box-shadow: 0 0 12px .05px;
}
