.window {
  &__sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    background: rgba(0, 0, 22, 0.85);
    //backdrop-filter: blur(8px);
  }
}
